.container {
    max-width: 120rem; //1200px approx
    margin: 8rem auto;
    background-color: var(--color-grey-light);
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    min-height: 56rem
}

.header {

}

.content {

}

.sidebar {

}

.hotel-view{

}